/**********************************************
** People: Add Face Book and Learning Mode
***********************************************/

#wms_roster_controls {
	display: block !important;
}

.wms_roster_user {
	float: left;
	width: 124px;
	height: 210px;
	margin-right: 8px;
	margin-bottom: 8px;
	border: 1px solid #CCCCCC;
	background-color: #F8FAFB;
	color: #333333;
	padding: 4px;
	position: relative;
}

.wms_roster_user A.avatar {
	margin: 4px auto 0px;
	height: 110px;
	width: 110px;
}

.wms_roster_user:hover {
	border: 1px solid #0096db;
	background-color: #0096db;
	color: #FFF;
}

.wms_roster_user:hover A {
	color: #FFF;
}

#wms_roster_btn_learning {
	outline: 0;
}

@media print {
	/*Force Canvas avatar background-images to show when printed*/
	/*Works for webkit browsers like Chrome and Safari; no hack available for FF or IE*/
	A.avatar {
		-webkit-print-color-adjust: exact;
	}

	/*Remove urls from print mode Canvas avatar background-images to show when printed*/
	A.roster_user_name[href]:after {
		content: "";
	}
}

.wms_wso_link {
	text-align: right;
	text-decoration: underline;
	position: absolute;
	bottom: 4px;
	right: 0;
	margin-top: 10px;
}

/**********************************************
** Add Presenter View (zoom main div; hide all other columns)
**********************************************/
#wms_presenter_breadcrumb {
	margin: 0 0 0 150px !important;
}

.wmsDisplayNone {
	display: none !important;
}

.wmsMarginZero {
	margin: 0px !important;
}

.wmsPresenterExit {
	z-index: 1000 !important;
	position: fixed;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background-color: #0096db;
	border: 1px solid #006796;
	width: 20px;
	height: 100%;
}

.wmsPresenterExit:hover {
	background-color: #0085c2;
	border: 1px solid #006594;
}

/*Rotate internal text of "exit button"*/
.wmsPresenterRotate {
	position: absolute;
	top: 350px;
	-webkit-transform: rotate(-90deg);
	-ff-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 20px;
	font-weight: bold;
	color: #FFFFFF;
}

/**********************************************
** Customize UI: LOGIN PAGE
**********************************************/
/*remove Canvas gradient*/
.ic-Login-Body {
	background: none no-repeat #F0F0F0 !important;
}

/*use custom logo and resize the login box*/
.ic-Login {
	background: #FFFFFF url("https://apps.williams.edu/glow/images/custom-login-image.jpg") no-repeat center top / 1140px 400px !important;
	margin: 0px auto !important;
	width: 1140px !important;
	height: 675px !important;
}

.ic-Login__container {
	margin: 390px 0 0 0 !important;
}

.ic-Login__content {
	width: 490px !important;
	border: 0px none !important;
	padding: 0px !important;
}

.ic-Login__innerContent {
	padding: 0px !important;
}

.ic-Login__header {
	display: none !important;
}

.ic-Login__body {
	margin-top: 47px !important;
	padding: 0px !important;
}

/*change: color of text, links, labels, decrease font size*/
#login_form, #login_form A, #login_form LABEL {
	color: #666666 !important;
	font-size: 96% !important;
}

#login_form .ic-Form-control--login {
	margin: 0px auto !important;
}

.ic-Label {
	display: none !important;
}

#login_form INPUT#pseudonym_session_unique_id, #login_form INPUT#pseudonym_session_password {
	width: 235px !important;
	height: 56px !important;
	background: #EDEBE9 no-repeat !important;
	border: 6px solid #f1f0ee !important;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4) !important;
	outline: none !important;
	color: #303030 !important;
	font-size: 96% !important;
}

.ic-Login__actions {
	padding: 10px 0 0 5px !important;
}

#pseudonym_session_remember_me {
	margin: -28px 0 0 0 !important;
}

.ic-Login__actions-timeout label {
	margin: -13px 0 0 0 !important;
	color: green !important;
	vertical-align: text-top !important;
}

#login_forgot_password {
	margin: -31px 7px 0 0 !important;
	float: right !important;
}

/*login button color with gentle transition for hover action*/
#login_form .btn-primary, #login_form .ic-Login__actions button.Button--login {
	background-color: #512698 !important;
	border-color: #98A0A5 !important;
	height: 42px !important;
	margin: 2px 10px 0px -305px !important;
	-webkit-transition: All 0.3s ease !important;
	-moz-transition: All 0.3s ease !important;
	-o-transition: All 0.3s ease !important;
	-ms-transition: All 0.3s ease !important;
	transition: All 0.3s ease !important;
}

/*login button color on hover*/
#login_form .btn-primary:hover, #login_form .ic-Login__actions button.Button--login:hover {
	background-color: #8AB840 !important;
	border-color: #98A0A5 !important;
}

/*hide canvas footer links and canvas logo*/
#footer-links {
	display: none !important;
}

#footer a.ic-Login-footer__logo-link {
	display: none !important;
}

/*custom footer position*/
P#wms-login-footer {
	padding: 40px 9px 0 0 !important;
	text-align: center !important;
	font-size: 92% !important;
}

/*custom footer link color*/
P#wms-login-footer A {
	color: #666666 !important;
}

/*error alert message holder: set to same width as your login-box above*/
#unauthorized_holder {
	width: 1140px !important;
}

/*error alert message: remove box shadow*/
/*do not set width, as internal error msgs are negatively affected*/
#unauthorized_holder, #unauthorized_holder #unauthorized_message {
	box-shadow: none !important;
	margin: 0 auto 0 !important;
}

/**********************************************
** Customize UI: MOBILE LOGIN PAGE
**********************************************/
#f1_container {
	background: #FFFFFF url("https://apps.williams.edu/glow/images/custom-mobile-login-image.jpg") no-repeat center top !important;
	background-size: 300px 132px !important;
	color: #373737 !important;
}

#f1_card {
	margin-top: 10px !important;
}

#login_form.front.face {
	background: #FFFFFF no-repeat !important;
	position: relative !important;
}

/*resize the input fields*/
#login_form.front.face INPUT.input-block-level {
	background: #EDEBE9 !important;
}

/*adjust the login button (it picks up default characteristics, like bgcolor, from primary css file*/
#login_form.front.face BUTTON[type=submit] {
	margin: 0 !important;
	border: 1px solid #98A0A5 !important;
}

#login_form.front.face A.forgot-password {
	margin-top: 15px !important;
}

/*hide Canvas branding on new mobile UX*/
.mobileLogin-Header {
	background-image: none;
}

/**********************************************
** Customize UI: INTERNAL PAGES
**********************************************/
/*edit left column*/
#left-side {
	border-right: 1px solid #f0f0f0 !important;
}

/*edit right column*/
#right-side-wrapper {
	background-color: #f0f0f0;
}

/*hide the Canvas Inbox*/
LI A#global_nav_conversations_link {
    display: none;
}

/*extend existing partial horizontal rule to boundary edges*/
.wmsBreadCrumbsLine {
	border-bottom: 1px solid #d6d6d6 !important;
	margin: 0 !important;
	padding-left: 24px;
	padding-right: 24px;
}

.wmsFooterLine {
	border-top: 1px solid #d6d6d6 !important;
	margin: 0 !important;
	padding-left: 24px;
	padding-right: 24px;
}

/**********************************************
** Footer/Branding Link Overrides
***********************************************/
/*Hide Canvas logo and Canvas footer links*/
#footer A.footer-logo, #footer #footer-links {
	display: none !important;
}
