/**********************************************
** People: Add Face Book and Learning Mode
***********************************************/
#wms_roster_controls
{
	display: block !important;
}
.wms_roster_user
{
	float: left;
	width: 124px;
	height: 180px;
	margin-right: 8px;
	margin-bottom: 8px;
	border: 1px solid #CCCCCC;
	background-color: #F8FAFB;
	color: #333333;
	padding: 4px;
}
.wms_roster_user A.avatar
{
	margin: 4px auto 0px;
	height: 110px;
	width: 110px;
}
.wms_roster_user:hover
{
	border: 1px solid #27ACD3;
	background-color: #27ACD3;
	color: #FFF;
}
.wms_roster_user:hover A
{
	color: #FFF;
}
#wms_roster_btn_learning
{
	outline: 0;
}
@media print
{
	/*Force Canvas avatar background-images to show when printed*/
	/*Works for webkit browsers like Chrome and Safari; no hack available for FF or IE*/
	A.avatar
	{
		-webkit-print-color-adjust: exact;
	}
	/*Remove urls from print mode Canvas avatar background-images to show when printed*/
	A.roster_user_name[href]:after
	{
		content: "";
	}
}
/**********************************************
** Add Presenter View (zoom main div; hide all other columns)
**********************************************/
/*Add custom classes for use with jQuery's addClass and removeClass methods*/
.wmsDisplayNone
{
	display: none !important;
}
.wmsMarginZero
{
	margin: 0px !important;
}
.wmsPresenterExit
{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #27ACD3;
	cursor: pointer;
	border: 1px solid #373737;
	width: 20px;
	height: 100%;
	opacity: .7;
}
.wmsPresenterExit:hover
{
	opacity: 1;
}
/*Rotate text of "exit button"*/
.wmsPresenterRotate {
	position: absolute;
	top: 350px;
	-webkit-transform: rotate(-90deg);
	-ff-transform: rotate(-90deg);
	transform: rotate(-90deg); /*this rotates the internal text, not the bounding box*/
	width: 20px;
	font-weight: bold;
	color: #000000;
}
/**********************************************
** Customize UI: LOGIN PAGE
*********************************************
set gradient for login box's background by replacing #topcolor and #bottomcolor with color values
ensure solid background color on internal LTI login pages*/
BODY.modal #modal-box
{
	/*this color should match the color you use below for 'body.modal #modal-box.login-box'*/
	color: #666666 !important;
	/*remove box shadow*/
	box-shadow: none !important;
	/*set background color on internal LTI login pages*/
	background: #FFFFFF no-repeat !important;
}
/*position form elements*/
#modal-box-inner
{
	/*adjust to find perceptual center*/
	padding: 211px 0px 0px 10px !important;
	margin: 0px auto !important;
	border: 0px none;
}
/*show logo and resize the login box*/
BODY.modal #modal-box.login-box
{
	background: #FFFFFF url("images/login-background-01.jpg") no-repeat center top / 1140px 400px !important;
	padding: 0px !important;
	margin: 0px auto !important;
	width: 1140px !important;
	height: 660px !important;
	color: #666666 !important;
}
/*correct placement of form elements*/
#login_form
{
	margin-top: 36px !important;
}
/*customize input boxes*/
#login_form INPUT#pseudonym_session_unique_id, #login_form INPUT#pseudonym_session_password
{
	background: #EDEBE9 no-repeat !important;
	/*force box-shadow in IE w/o effecting other browsers*/
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4) !important;
	background-clip: border-box !important;
	/*remove rounded corners*/
	border-radius: 0 !important;
	text-shadow: none !important;
	outline: none !important;
	/*doubtful if helpful attributes*/
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
}
/*change input label text color*/
#login_form SPAN.field-with-fancyplaceholder LABEL.placeholder
{
	color: #666666 !important;
}
#login_form SPAN.field-with-fancyplaceholder LABEL.placeholder.focus
{
	color: #CCCCCC !important;
}
/*change the color of links (forgot password, footer links)*/
BODY.modal #modal-box.login-box A
{
	color: #666666 !important;
}
#login_forgot_password
{
	margin: -26px 0 0 372px !important;
	float: right !important;
}
/*slightly decrease size of checkbox label text*/
#login_form .login-options LABEL
{
	font-size: 100% !important;
}
/*custom footer position*/
P#wms-login-footer
{
	padding: 110px 9px 0 0 !important;
	text-align: center !important;
}
/*custom footer link color*/
P#wms-login-footer A.not_external.hint-text
{
	color: #98A0A5 !important;
}
/*replace the Canvas logo with your own (future hook: not using this at present)*/
BODY.modal #modal-box.login-box H1
{
	margin: 90px auto 20px !important;
	background-image: none !important;
	height: 80px !important;
	width: 516px !important;
}
/*login button color*/
BODY.modal #modal-box .button, BODY.modal #login-box .button, #login_form BUTTON.btn-primary
{
	background-image: none !important;
	background-color: #512698 !important;
	border-color: #98A0A5 !important;
	/*give the button a nice transition animation from normal to onhover 512698*/
	-webkit-transition: All 0.3s ease !important;
	-moz-transition: All 0.3s ease !important;
	-o-transition: All 0.3s ease !important;
	-ms-transition: All 0.3s ease !important;
	transition: All 0.3s ease !important;
	margin: 2px 193px 0px 0 !important;
}
/*login button color on hover*/
BODY.modal #modal-box .button:hover, BODY.modal #login-box .button:hover, #login_form BUTTON.btn-primary:hover
{
	background-image: none !important;
	background-color: #8AB840 !important;
	border-color: #98A0A5 !important;
}
#login_form BUTTON.btn-primary
{
	margin-top: -24px !important;
}
/*error alert message holder: set to same width as your login-box above*/
#unauthorized_holder
{
	width: 1140px !important;
}
/*error alert message: remove box shadow*/
#unauthorized_holder, #unauthorized_holder #unauthorized_message
{
	box-shadow: none !important;
	margin: 0 auto 0 !important;
	/*note: do not set width, as internal error msgs are negatively affected*/
}
/**********************************************
** Customize UI: MOBILE LOGIN PAGE
*********************************************
update the background URL*/
#f1_container
{
	background-size: 300px 132px !important;
	background: #FFFFFF url("images/mobile-login-background-01.jpg") no-repeat center top !important;
	color: #373737 !important;
}
#login_form.front.face
{
	background: #FFFFFF no-repeat !important;
	position: relative !important;
	/*resize the border or shadow of the login page*/
	border-radius: 0 !important;
	box-shadow: none !important;
}
/*resize the border or font weight of the login fields*/
#login_form.front.face INPUT.input-block-level
{
	background: #EDEBE9 !important;
	box-shadow: none !important;
}
/*adjust the border, color, or shadow of the login button*/
#login_form.front.face BUTTON[type=submit]
{
	border: 1px solid #98A0A5 !important;
	color: #FFFFFF !important;
	margin: 0 !important;
}
#login_form.front.face A.forgot-password
{
	margin-top: 15px !important;
}
/**********************************************
** Customize UI: INTERNAL PAGES
**********************************************/
/*Replace the top gray background with something that matches your colors. If you don't use an image, you need to remove ours*/
#header
{
	background: #373737 !important;
}
/*Make sure your logo doesn't bleed onto the content below for open registration courses*/
#header.no-user
{
	min-height:70px !important;
}
/*Make sure your secondary logo sits where it should*/
#header.no-user #header-logo-secondary
{
	bottom: -45px !important;
}
/*replace the canvas logo with your logo*/
#header-logo, #header.no-user #header-logo
{
	background: transparent url("images/interior-logo-glow.png") no-repeat 0% / 201px 45px !important;
	top: 26px !important;
	left: 13px !important;
	height: 45px !important;
	width: 201px !important;
}
/*if you replace the left canvas logo, move a smaller one to the right side of the header. include background-size to ensure it displays correctly on ipads*/
#header-logo-secondary
{
	background: transparent url("images/interior-logo-williams.png") no-repeat 0% / 162px 30px !important;
	display: block !important;
	bottom: -1px !important;
	right: 10px !important;
	height: 30px !important;
	width: 162px !important;
}
/*if your logo is bigger, you can scoot the menu to the right with this*/
#menu
{
	margin-left: 243px !important;
}
/*insert colorful boxy png images*/
#courses_menu_item
{
	background: transparent url("images/colorbar-1.png") no-repeat bottom center / 88px 6px !important;
}
#grades_menu_item
{
	background: transparent url("images/colorbar-2.png") no-repeat bottom center / 88px 6px !important;
}
#calendar_menu_item
{
	background: transparent url("images/colorbar-3.png") no-repeat bottom center / 88px 6px !important;
	margin-left: 13px !important;
}
#wms_signup_sheets_menu_item
{
	background: transparent url("images/colorbar-4.png") no-repeat bottom center / 93px 6px !important;
}
/*add padding for the narrowest top buckets*/
A.menu-item-title, A.menu-item-no-drop
{
	min-width: 85px !important;
}
/*change the color of the menu items (courses & groups etc.). If the text looks fuzzy, remove the text shadow.*/
.menu-item .menu-item-title, .menu-item .menu-item-no-drop
{
	text-align: center !important;
	text-shadow: none !important;
}
/*alter the identity bar*/
#identity
{
	background: #FFFFFF !important;
	margin: 0px !important;
	padding: 0 0 0 6px !important;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
}
/*change the color of the identity text*/
#identity LI
{
	padding: 0px 0px 0px 2px !important;
}
#identity LI.user_name A
{
	color: #6E33CC !important;
}
#identity LI A
{
	color: #404040 !important;
}
#identity LI A:hover
{
	color: #000000 !important;
}
/*change color of the "masquerading as" name when masquerading or using student view*/
#identity .emphasize-name
{
	color: #D94D48 !important;
}
/*change color of the circle around the number of unread inbox messages*/
#identity .inbox A .unread-messages-count
{
	background-color: #512698 !important;
}
/*align Help with Williams right-hand logo*/
#identity LI#identity-help-container
{
	padding: 0px !important;
	margin-right: 3px !important;
}
/**********************************************
** Footer/Branding Link Overrides
**********************************************
Hide footer logo*/
#footer A.footer-logo
{
	display: none !important;
}
/*Hide footer links*/
#footer #footer-links A[href="http://facebook.com/instructure"]
{
	display: none !important;
}
#footer #footer-links A[href="http://twitter.com/instructure"]
{
	display: none !important;
}
#footer #footer-links A[href="http://www.instructure.com/policies/privacy-policy-instructure"]
{
	display: none !important;
}
/*Hide canvas logo on internal LTI login pages*/
BODY.modal #modal-box H2, BODY.modal #modal-box .h2
{
	background: no-repeat !important;
}
/*Kaltura - Hide icon in Rich Text Editor for Kaltura Community edition*/
TD A.mce_instructure_record
{
	/*[disabled]display:none;*/
}
/*Kaltura - force Kaltura image in LTI auth box to maintain dimensions*/
BODY.modal #modal-box H2 IMG.icon_url[src="http://cdnknowledge.kaltura.com//sites/all/themes/kaltura_theme/logo.png"]
{
	width: 146px !important;
	height: 80px !important;
}